.section1{
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    span{
        color:  orangered;
        font-weight: bold;
    }

    &__cards{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        overflow: hidden;
        width: 100%;

        &-card{
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 20px;
            width: 300px;
            overflow: hidden;
            h4{
                a{
                    color: black;
                    font-weight: lighter;
                    font-size: 22px;
                }
            }
            a{
                color: black;
                font-weight: bold;
            }
           
        }
        &-imagediv{
            position: relative;
            cursor: pointer;
            transition:0.4s ease ;
            overflow: hidden;
            img{
                width: 300px;
            }
            span{
                position: absolute;
                top: 10px;
                right: 10px;
                color: white;
                background: green;
                padding: 10px;
                border-radius: 30px;
            }
        }
        &-imagediv:hover{
            scale: 0.9;
        }
        &-icons{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            i{
                color: orangered;
            }
            span{
                color: orangered;
                font-weight: bold;
                font-size: 20px;
            }
        }
    }
}
.section2{
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background: #FFF4E2;
    span{
        font-weight: bold;
        color:  orangered;
        font-size: 20px;
    }
    h2{
        font-size: 40px;
        font-weight: 400;
    }
    &__cards{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin-top: 30px;
        &-card{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            p{
                font-size: 20px;
            }
            img{
                background:white ;
                padding: 20px;
            }
        }
    }
    button{
        color: white;
        background: orangered;
        padding: 10px;
        border: none;
        font-size: 20px;
        margin-top: 30px;
        font-weight: normal;
        cursor: pointer;
    }
}
.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 100px 50px;
    background: #FFF4E2;
    span{
        color: orangered;
        font-weight: bold;
    }
    h2{
        font-size: 40px;
        font-weight: 400;
    }
    &__cards{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
        text-align: center;
        
        &-card{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            h5{
                font-size: 20px;
            }
            p{
                font-weight: 400;
                width: 300px;
            }
        }
    }
}
.section4{
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-image: url(https://arid-html.vercel.app/main-file/dist/assets/images/backgrounds/video-banner.webp);
    background-size: cover;
    background-repeat: no-repeat;
    h2{
        color:  white;
        font-size: 48px;
    }
    p{
        color: white;
        font-size: 20px;
    }
    &__play{
        background: red;
        padding: 15px;
        border-radius: 50%;
        i{
            padding: 10px 10px 10px 13px;
            border-radius: 50%;
            background: white;
            color: red;
        }
    }
}
.section5{
    padding: 100px 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.section6{
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    span{
        color: orangered;
        font-weight: bold;
    }
    h2{
        font-size: 48px;
    }
    &__cards{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 70px;
        &-card{
            position: relative;
        }
        &-text{
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 10px;
            bottom: 30px;
            left: 30px;
            p{
                color: white;
                i{
                    color: yellow;
                }
            }
            h3{
                color:  white;
            }
            span{
                color: white;
            }
        }
    }
}
.section7{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 100px 50px;
    overflow: hidden;
    &__container{
        width: 99%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;  
        padding: 30px;
    }
    &__left{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    &__right{
        p{
            font-size: 25px;
            color: gray;
        }
    }
}
.section8{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 100px 50px;
    span{
        color: orangered;
        font-weight: bold;
    }
    h2{
        font-size: 48px;
    }
    &__cards{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        &-card{
            display: flex;
            flex-direction: column;
            align-items:start;
            gap: 10px;
            overflow: hidden;
            img{
                cursor: pointer;
                transition: 0.4s ease;
                &:hover{
                    scale: 1.1;
                }
            }
            a{
                color: black;
            }
            h4{
                transition: 0.4s ease;
                &:hover{
                    color: orangered;
                }
                a{
                    color: black;
                    &:hover{
                        color: orangered;
                    }
                }
            }
            p{
                color: gray;
            }
        }
        &-icons{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            color: gray;
        }
    }
    
}
.section9{
    padding: 100px 50px;
    display: flex;  justify-content: center;    align-items: center;
    gap: 50px;
    img{
        width: 200px;
        cursor: pointer;
        &:hover{
            opacity: 0.9;
            scale: 1.1;

        }
    }
}
